body {
      margin: 0.5in 1in;
      max-width: 50em;
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      color: #333;
    }

    label:first-child {
      float: left;
      width: 14em;
      margin-right: 1em;
      text-align: right;
      font-size: 14px;
    }

    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    .checkbox-label label {
      float: left;
      width: 8em;
      margin-right: 1em;
      text-align: left;
      font-size: 14px;
      display: inline;
      padding: 0 1ex;
    }

    fieldset div {
      margin-bottom: 0.5ex;
    }

    .control-row {
      clear: both;
      margin-bottom: 1.2ex;
    }

    .unconstrained-label label {
      width: inherit;
    }

    .warning {
      color: #900;
      font-weight: bold;
    }

    .info {
      color: #009;
      font-weight: bold;
    }

    fieldset {
      margin-bottom: 1em;
    }
    
    .required {
      color: #F00;
    }
    